:root{
    --branding-color: #6c63ff;
    --background-color: #f9f7fe;
    --body-color: #272343;
    --primary-color: white;
    --secondary-color: black;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
    --button-font: 'Lato', sans-serif;
    --button-color: #6C63FF;
}

body{
    font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6{
font-family: --heading-font-family;
font-weight: bold;
}

h1 {
    font-size: 76px;
}

h2{
    font-size: 57px;
}

h3{
    font-size: 48px;
}

p{
font-weight: normal;
font-size: 16px;
line-height: 30px;
}


.projects{
    font-size: 58px;
    font-family: var(--heading-font-family);
}

.hero{
    background-color: var(--background-color);
    text-align: center;
    padding: 80px 20px;
}

.hero p{
font-size: 36px;
font-weight: bold;
margin-top: 0;
color: #272142;
}

.hero h2{
font-family: var(--default-font-family);
line-height: 1.5;
font-weight: normal;
font-size: 24px;
}

.project-description{
    padding:20px 60px 0;
}

.buttons {
    margin-top: 48px;
}

.primary-button {
    color: white;
    font-family: var(--button-font);
    font-size: 18px;
    line-height: 27px;
    background-color: var(--button-color);
    text-decoration: none;
    padding: 15px 30px;
    font-size: 18px;
    margin-right: 24px;
}

.primary-outline-button {
    font-size: 18px;
    font-family: var(--button-font);
    color: var(--secondary-color);
    padding: 15px 30px;
    border: 2px solid var(--button-color);
    text-decoration: none;
}


/* about styling */
.content h1 {
    font-size: 48px;
    line-height: 80px;
}


.content-container h2{
font-size: 18px;
font-family: var(--default-font-family);
}

.content-container{
    padding: 60px 20px;
}

.content{
    margin: 30px;
}

.img-fluid {
    max-width: 100%;
    height: 80%;
    margin-top: 30px;
}

/* work styling */
.content h3{
    font-size: 24px;
    font-family: var(--default-font-family);
    line-height: 1.5;
    /* margin: 20px 0 0; */
}

.content p{
    font-size: 14px;
}

.weather-project{
    height: 77%;
}


/* navbar styling */
.logo{
    font-size: 40px;
    color: var(--secondary-color);
    margin-top: 8px;
    /* max-height: 40px; */
}

nav{
    padding: 20px 0;
}

nav ul{
    padding: 0;
    margin: 0;
}

nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left:15px ;
}

nav a{
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a{
    color: var(--branding-color);
}

/* footer styling */

footer{
    margin: 110px 0;
}

footer .social-links a{
margin: 0 20px;
color: var(--primary-color);
background: var(--secondary-color);
padding: 10px 14px;
border-radius: 50%;
font-size: 18px;
transition: all 100ms ease-in-out;
}

footer .social-links a:hover{
   background-color: #3b3939;
    color: var(--secondary-color);
}

footer .email-link{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 24px;
    text-align: center;
}

footer .email-link:hover{
    color: var(--branding-color);
}

/* footer .contact-box{
    border-color: var(--primary-color);
    padding: 30px 120px;
   border-radius: 10px;
} */

footer .contact-box {
    border: 2px solid #606470;
    font-family: 'Kyiv', sans-serif;
    padding: 30px 120px;
    border-radius: 10px;
    max-width: 870px;
    margin: 0 auto;
}

footer .contact-box p{
    margin: 0;
}


/* media responsiveness */
@media(max-width: 900px){

    h1{
        font-size: 44px;
        line-height: 56px;
    }

    h2{
        font-size: 44px;
    }
    .project-description{
        padding: 0;
        text-align: center;
    }

    .hero{
    padding: 80px 20px;
}

/* about styling */
.content{
    text-align: center;
    padding: 0;
}

/* work styling */
.img-fluid {
    max-width: 100%;
    height: 70%;
    margin: 0 auto;
    display: flex;
}

.hobby-project{
    height: 30%;
    
}
/* nav styling */
nav a{
    font-size: 12px;
    /* margin: 10px; */
}

.logo{
    font-size: 20px;
    margin-top: 15px;
}

/* button styling */
.primary-button,
.primary-outline-button {
    margin: 0 auto;
}

/* footer styling */
h3{
    font-size: 20px;
}
}









